.taskTable tbody th:first-child,
.taskTable tbody td:first-child {
  cursor: pointer;
  width: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.taskTable thead tr th {
  vertical-align: middle;
}

.taskTable tbody th:last-child,
.taskTable tbody td:last-child {
  width: 50px;
  text-align: center;
}

.taskTable tbody td,
.taskTable tbody th {
  vertical-align: middle;
}

.taskTable tbody .taskDone td:first-child {
  color: rgba(0, 0, 0, 1);
}

.taskTable tbody .taskDone td:not(:first-child) {
  text-decoration: line-through;
}

.taskTable tbody .datePicker {
  width: 150px;
}

.taskTable tbody .datePicker input {
  text-align: center;
  width: 100%;
}

.goBackBtn {
  width: 100%;
}

.taskNameSpan {
  cursor: pointer;
  /* display: flex; */
}

.taskNameDiv {
  display: flex;
}

.taskNameInput {
  width: 100%;
  padding: .5em;
}

.taskNameBtns {
  float: right;
}

.confirmBtn {
  /* min-width: 32px; */
}

.cancelBtn {
  /* min-width: 32px; */
}